#app {
    display: flex;
}

#snake-pit {
    background-color: darkgray;
    padding: 10px;
    float: left;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
}

.snake-row {
    display: flex;
    flex-grow: 1;
}

.square {
    flex-grow: 1;
    background-color: lightgray;
    float: left;
    margin: 0 3px 3px 0;
}

#controls {
    float: left;
    width: 260px;
    background-color: darkgray;
    padding: 20px;
    color: white;
}


#controls h1 {
    text-align: center;
}

#controls button {
    width: 100%;
    display: block;
    height: 40px;
    background: white;
    border: none;
    color: black;
    cursor: pointer;
}

#info-block {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

#info-block > div {
    width: 50%;
}

#info-block > div > p {
    text-align: center;
}

#bottom-info {
    margin-top: 50px;
    text-align: center;
}

.score {
    text-align: center;
    width: 100%;
    display: block;
}

.tail {
    background-color: white;
}

.head {
    background-image: linear-gradient(#827e7e, white);
}

.head-up {
    transform: rotate(0deg);
}

.head-right {
    transform: rotate(90deg);
}

.head-down {
    transform: rotate(180deg);
}

.head-left {
    transform: rotate(270deg);
}

.apple {
    background-color: red;
}